files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/31_install_node.sh:
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      package=nodejs
      install=false

      function isinstalled {
        if yum list installed "$@" >/dev/null 2>&1; then
          true
        else
          false
        fi 
      }

      if isinstalled $package;
      then
        version=`node -v`
        if [ "$version" != "v8.12.0" ]
        then
          sudo yum remove -y nodejs;
          install=true
        fi
      else 
        install=true
      fi

      if [ "$install" = "true" ]
      then
        wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
        curl --silent --location https://rpm.nodesource.com/setup_8.x | bash -;
      fi