files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/41_install_yarn.sh:
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      package=nodejs
      install=false

      function isinstalled {
        if yum list installed "$@" >/dev/null 2>&1; then
          true
        else
          false
        fi 
      }

      if isinstalled $package;
      then
        install=false
      else 
        install=true
      fi

      if [ "$install" = "true" ]
      then
        yum -y install yarn;
      fi